@import '~@angular/material/theming';

$layer-primary: (
  50: #f6f9ff,
  100: #f1f4ff,
  200: #eaeeff,
  300: #dce0f3,
  400: #b9bdd0,
  500: #9a9eb0,
  600: #717586,
  700: #5d6172,
  800: #3e4252,
  900: #1d212f,
  A100: #0e1018,
  A200: #234fff,
  A400: #0030ef,
  A700: #002bd5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$layer-accent: (
  50: #e4f7fc,
  100: #bdecf8,
  200: #97e0f3,
  300: #78d3eb,
  400: #6bcae3,
  500: #69c1db,
  600: #62b0c7,
  700: #589bad,
  800: #518794,
  900: #446369,
  A100: #ffffff,
  A200: #def5ff,
  A400: #abe7ff,
  A700: #91dfff,
  contrast: (
    50: #e4e4e6,
    100: #bbbcc1,
    200: #8e9097,
    300: #61646d,
    400: #3f424e,
    500: #1d212f,
    600: #1a1d2a,
    700: #151823,
    800: #11141d,
    900: #0a0b12,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$layer-warn: (
  50: #ffebed,
  100: #ffcccf,
  200: #ee9994,
  300: #ef776b,
  400: #eb5546,
  500: #ee4629,
  600: #e03b29,
  700: #ce3124,
  800: #c12a1d,
  900: #b22010,
  A100: #ffffff,
  A200: #ffe3e1,
  A400: #ffb2ae,
  A700: #ff9a95,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$layer-accent-purple: (
  50: #ebecf5,
  100: #abafd8,
  200: #abafd8,
  300: #8b90c7,
  400: #7376bb,
  500: #5d5daf,
  600: #5755a5,
  700: #4e4a98,
  800: #46408c,
  900: #3a2f75,
  A100: #2e265e,
  A200: #614dff,
  A400: #341aff,
  A700: #1d01ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($layer-primary, 900, A100, 800);
$accent: mat-palette($layer-accent, 500, 600, 200);
$accent_purple: mat-palette($layer-accent-purple, 900, A100, 500);

// The warn palette is optional (defaults to red).
$warn: mat-palette($layer-warn, 400, 600, 300);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

$font-family: 'Lato', 'Helvetica Neue', sans-serif;

$typography: mat-typography-config(
  $font-family: $font-family,
  $headline: mat-typography-level(28px, 42px, 700),
  $body-1: mat-typography-level(14px, 24px, 400),
);

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3a2f75;
  --ion-color-primary-rgb: 87, 81, 227;
  --ion-color-primary-contrast: #f2f2f2;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2c2362;
  --ion-color-primary-tint: #756d9e;

  /** secondary **/
  --ion-color-secondary: #69c1db;
  --ion-color-secondary-rgb: 190, 226, 255;
  --ion-color-secondary-contrast: #3d4eac;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #56b3d2;
  --ion-color-secondary-tint: #96d4e6;

  /** tertiary **/
  --ion-color-tertiary: #f2f2fd;
  --ion-color-tertiary-rgb: 172, 199, 255;
  --ion-color-tertiary-contrast: #5751e3;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #97afe0;
  --ion-color-tertiary-tint: #b4cdff;

  /** success **/
  --ion-color-success: #15d2a7;
  --ion-color-success-rgb: 69, 203, 133;
  --ion-color-success-contrast: rgb(37, 110, 73);
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #12b993;
  --ion-color-success-tint: #ccfff3;

  /** warning **/
  --ion-color-warning: #ffe17f;
  --ion-color-warning-rgb: 255, 225, 127;
  --ion-color-warning-contrast: #b49019;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0c670;
  --ion-color-warning-tint: #fff3cc;

  /** danger **/
  --ion-color-danger: #eb5546;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #fff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e54437;
  --ion-color-danger-tint: #f1887e;
  /*   --ion-color-danger: #ff8484;
  --ion-color-danger-rgb: 255, 132, 132;
  --ion-color-danger-contrast: rgb(172, 87, 87);
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e07474;
  --ion-color-danger-tint: #ff9090; */

  /** dark **/
  --ion-color-dark: #1d212f;
  --ion-color-dark-rgb: 53, 51, 56;
  --ion-color-dark-contrast: #69c1db;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #151823;
  --ion-color-dark-tint: #61646d;

  /** medium **/
  --ion-color-medium: #6f6e77;
  --ion-color-medium-rgb: 111, 110, 119;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #626169;
  --ion-color-medium-tint: #7d7d85;

  /** light **/
  --ion-color-light: #f2f2f2;
  --ion-color-light-rgb: 242, 242, 242;
  --ion-color-light-contrast: #9e9e9e;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d5d5d5;
  --ion-color-light-tint: #f6f6f6;

  --redish: #f24957;
  --ion-color-purplish: #9349f2;
  --ion-color-blueish: #4987f2;
  --ion-color-greenish: #49f28d;
  --ion-color-yellowish: rgb(255, 230, 0);
  --ion-color-orangish: #f2b449;

  --ion-font-family: $font-family;
}
